<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-8">
				<span class="contact">Liên hệ: <span class="gmail">levietkhanh99@gmail.com</span></span>
			</div>
			<div class="col-xs-4">
				<a href="/about" class="link_footer">About</a>
				<a href="/contact" class="link_footer">Contact</a>
				<a href="/news" class="link_footer">News</a>
				<span><%= link_to "News", news_path %></span>
				<span><%= link_to "News", news_url %></span>
			</div>
		</div>
	</div>
</div>